.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

button.cancel-delete {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
button.confirm-delete {

    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.confirm-delete:hover, .cancel-delete:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

