@page "/RegisterModal"
@using System.ComponentModel.DataAnnotations
@using Blazored.Modal
@using Blazored.Toast.Services
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject IToastService toastService

<EditForm  Model="@model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-register">
    <label for="email-input">
        Email:</label>
    <InputTextCustom @bind-Value="@model.Email" id="email-input"> </InputTextCustom>

    <label for="senha-input">
        Senha:</label>
    <InputTextCustom type="password" @bind-Value="@model.Password" id="senha-input"> </InputTextCustom>

    <label for="confirm-senha-input">
        Confirmar Senha:</label>
    <InputTextCustom type="password" @bind-Value="@model.ConfirmPassword" id="confirm-senha-input"> </InputTextCustom>

    <ButtonComponent @onclick="SubmitForm">Registrar</ButtonComponent>
    </div>
</EditForm>

@code
{
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    
    private RegisterModel model = new RegisterModel();

    public async Task SubmitForm()
    {
        var result = await JSRuntime.InvokeAsync<bool>("signUp", model.Email, model.Password);

        if (result)
        {
            toastService.ShowSuccess("Usuario Criado com sucesso !");
            await BlazoredModal.CloseAsync();
        }
        else{

            toastService.ShowError("Erro ao criar o usuario");
        }
    }

    public class RegisterModel
    {
        [Required]
        public string? Email { get; set; }
        [Required]
        [DataType(DataType.Password)]
        public string? Password { get; set; }
        [Required]
        [DataType(DataType.Password)]
        [Compare("Password")]
        public string? ConfirmPassword { get; set; }
    }
}