@page "/"

<main class="main-content">

    <div class="presentation">
        <h3>Bem vindo ao BlazorTools</h3>
        <h5>
            Escolha no menu acima uma ferramenta para começar a usar.
        </h5>

        <p>Este é um projeto de estudo para praticas com o Blazor. Obrigado por usar as ferramentas. </p>
        <p>
            Autor: @_author <br/>
            Email: @_email <br/>
            Versão: @_version
        </p>
    </div>
    
</main>

@code {
    private string _name = "BlazorTools";
    private string _description = "Este é um projeto de estudo para praticas com o Blazor. Obrigado por usar as ferramentas.";
    private string _version = "1.1.0";
    private string _author = "José Wellington Ferreira Britto";
    private string _email = "eng.jwellbritto@gmail.com";
}