@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService


<header class="app-bar">
    <nav>
        <span>
            <ButtonComponent @onclick="GoToHomePage">BlazorNotes</ButtonComponent>
        </span>
        <span>
            <ButtonComponent @onclick="SignOut">Sair</ButtonComponent>
        </span>
    </nav>
</header>

@code {

    public void GoToHomePage(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/");
    }

    public async Task SignOut(MouseEventArgs e)
    {
        bool signOut = await JSRuntime.InvokeAsync<bool>("signOut");
        if (signOut)
        {
            toastService.ShowSuccess("Deslogado com sucesso !");
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            toastService.ShowError("Erro ao deslogar !");
        }

    }

}