.app-bar{
    background-color: #1a2e53;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    height: 80px;
    position: sticky;
    width: 100%;
}

.app-bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bar nav span{
    margin-left: 10px;
}

.app-bar button {
    background-color: white;
    border: none;
    color: #2196F3;
    font-size: 20px;
    cursor: pointer;
    
}

.app-bar button:hover {
    background-color: #ccc;
}

.app-bar button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.app-bar button:checked {
    color: #ccc;
}

