.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Defina a altura da viewport para que o spinner ocupe toda a altura da página */
    width: 100vw;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    background: #FFF;
    box-shadow: 0 0 0 2px #1a2e53;
}

    .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 24px solid #1a2e53;
        animation: prixClipFix 2s infinite linear;
    }

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
    }

    25% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
    }

    50% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)
    }

    100% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)
    }
}
