@page "/RegisterModal"
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JSRuntime

<EditForm  Model="@model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-register">
    <label for="email-input">
        Email:</label>
    <InputTextCustom @bind-Value="@model.Email" id="email-input"> </InputTextCustom>

    <label for="senha-input">
        Senha:</label>
    <InputTextCustom type="password" @bind-Value="@model.Password" id="senha-input"> </InputTextCustom>

    <label for="confirm-senha-input">
        Confirmar Senha:</label>
    <InputTextCustom type="password" @bind-Value="@model.ConfirmPassword" id="confirm-senha-input"> </InputTextCustom>

    <ButtonComponent @onclick="SubmitForm">Registrar</ButtonComponent>
    </div>
</EditForm>

@code
{
    private RegisterModel model = new RegisterModel();

    public async Task SubmitForm()
    {
        var result = await JSRuntime.InvokeAsync<bool>("signUp", model.Email, model.Password);

        if (result)
        {
            //disparar um alerta de sucesso
            Console.WriteLine("Success");
        }
        else{

            Console.WriteLine($"Failed to sign up");
        }
    }

    public class RegisterModel
    {
        [Required]
        public string? Email { get; set; }
        [Required]
        [DataType(DataType.Password)]
        public string? Password { get; set; }
        [Required]
        [DataType(DataType.Password)]
        [Compare("Password")]
        public string? ConfirmPassword { get; set; }
    }
}