@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<header class="app-bar">
    <nav>
        <span>
            <ButtonComponent @onclick="GoToHomePage">BlazorNotes</ButtonComponent>
        </span>
        <span>
            <ButtonComponent>ReadME</ButtonComponent>
        </span>
    </nav>
</header>

@code {

    public void GoToHomePage(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/");
    }

}