<header class="app-bar">
    <nav>
        <span>
            <button class="btn btn-light">BlazorNotes</button>
        </span>
        <span>
            <button class="btn btn-light">Read ME</button>
        </span>
    </nav>
</header>

@code {

}