<div class="container-card">
    <div class="content-card">
        <div class="headline-and-subhead">
            <div class="headline">Headline</div>
            <div class="subhead">Subhead</div>
        </div>
        <div class="content-text">Please add your content here. Keep it short and simple. And smile :)</div>
        <div class="buttons">
        <ButtonComponent>Abrir nota</ButtonComponent>
        </div>
    </div>
</div>
