<div class="container-card">
    <div class="content-card">
        <div class="headline-and-subhead">
            <div class="headline">@Title</div>
            <div class="subhead">@SubTitle</div>
        </div>
        <div class="content-text">@Content</div>
        <div class="buttons">
            <ButtonComponent>Abrir nota</ButtonComponent>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string SubTitle { get; set; }
    [Parameter] public string Content { get; set; }
}