


    <button id="fab-add" @onclick="ShowModal" class="fab-button">
        <i class="fas fa-plus"></i>
    </button>


@inject IModalService modalService
@code {
    void ShowModal()
    {
        modalService.Show<AddCardModal>("My Modal Title");
    }
}